.content {
    background-color: #ffee00;
}

#martial-arts-table {
    color: #ff4f4f;
}

img {
    padding: 0.5em;
    margin: 0.5em;
    margin-right: 1em;
    margin-left: 1em;
    background-color: #1e3e79;
    width: 300px;
}

.img-small {
    width: 150px;
}

table {
    border-collapse: collapse;
}

table td, th {
    border: 1px solid black;
}

li:nth-child(odd) {
    color: rgb(116, 0, 116);
}

.image-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.image-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    border: 1px solid red;
    background-color: rgb(255, 214, 138);
}

.grid-element {
    border: 1px solid orange;
    background-color: rgb(255, 179, 37);
    text-align: center;
}