.calculator-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    border: 2px solid black;
    background-color: darkgray;
    color: black;
    height: 500px;
    width: 300px;
}

#time {
    font-size: xx-large;
}

.forum-container {
    border: 2px solid black;
    background-color: rgb(218, 218, 218);
    color: black;
    height: 800px;
    width: 80%;
}

.forum-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(223, 226, 49);
    color: black;
    height: 10%;
    width: 100%;
    margin-bottom: 10px;
}

.forum-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 5%;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
}


.post-input {
    height: 200px;
    resize: none;
    outline: none;
    overflow: auto;
}

label {
    margin: 10px;
    font-size: larger;
    font-weight: bold;
}

form {
    display: none;
}

#posts-container {
    width: 100%;
}

.post {
    border: 1px solid black;
}