h1 {
    color: magenta;
    text-shadow: 1px 1px 1px white;
}

a {
    text-decoration: none;
}

img {
    width: 100px;
}
.social-media-container {
    background-color: rgb(34, 34, 34);
}

.social-media-images-content-wrapper {
    background-color: rgb(155, 0, 72);
    border: 5px dashed magenta;
}

.img-label {
    color: white;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.img-link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}