html {
    background-color: violet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    width: 200px;
}

div {
    background-color: rgb(53, 53, 53);
    color: aquamarine;
    border: 5px dotted rgb(0, 248, 112);
    border-radius: 10px;
    margin: 5rem;
    padding: 1rem;
}

#different-div {
    background-color: rgb(203, 206, 60);
    color: rgb(0, 0, 0);
}

.spacer {
    height: 100px;
    background-color: violet;
    border: none;
    margin: 0;
    padding: 0;
}

.numbers-wrapper {
    margin: 0;
    padding: 0;
    height: 400px;
    border: 1px solid black;
    border-radius: 0px;
}

.numbers-top-flex {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    border: none;
    color: black;
    background-color: white;
    height: 60%;
    border-radius: 0px;
   
}

.numbers-bottom-flex {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: white;
    border: none;
    color: black;
    height: 40%;
    border-radius: 0px;

}

.top-number-flex {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 10%;
    background-color: greenyellow;
    border: none;
    color: black;
    border-radius: 0px;
    border: 1px solid black;

}

.bottom-number-flex {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: red;
    border: none;
    color: black;
    border-radius: 0px;
    border: 1px solid black;
    flex: 1;

}

.big-number-flex {
    margin: 0;
    padding: 0;
    flex-grow: 3;
    color: black;
    border: none;
    background-color: red;
    border-radius: 0px;
    border: 1px solid black;

}

.numbers-top-grid {
    display: grid;
    margin: 0;
    padding: 0;
    border: none;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    height: 400px;
}

.numbers-bottom-grid {
    display: grid;
    margin: 0;
    padding: 0;
    border: none;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
    height: 400px;
}

.top-number-grid {
    background-color: red;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 0px;
    color: black;
}

.bottom-number-grid {
    background-color: greenyellow;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 0px;
    color: black;
    
}

.bottom-number-grid {
    background-color: greenyellow;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 0px;
    color: black;
}

.wide {
    grid-column: 1 / 3;
}



.bottom-number-grid-tall {
    background-color: greenyellow;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 0px;
    color: black;
}

.tall {
    grid-area: 2 / 1 / 5 / 1;
}

