.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bingo-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 50px 50px 50px 50px 50px;
  column-gap: 0px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.bingo-box {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  text-align: center;
}
