.selection-grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    justify-content: center;
}

.selection-element-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(160, 255, 211);
    border: 1px solid gray;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: auto;
}

.selection-element-container:hover {
    background-color: rgb(118, 190, 156);
    color: black;
    transition: 0.3s;
}
