table {
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-family: sans-serif;
    min-width: 400px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

table th,
table td {
    padding: 10px 10px;
}

th:first-child,
td:first-child {
    width: 250px;
}

.training-sets-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.training-sets-current-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.training-sets-history-section {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.training-sets-form {
    width: 50%;
}

.training-sets-current-sets {
    width: 50%;
}

.modalHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.modalHeaderElement {
    width: 33%;
    text-align: center;
}

.modalHeaderElement button {
    width: 50px;
}
