.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-note-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 70%;
    margin: 10px;
    background-color: darkgray;
    border: 1px solid black;
}

button {
    height: 35px;
}
