.todoNote {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 70%;
    border: 3px solid darkgray;
}

.removeBtn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: darkgray;
}

input {
    width: 200px;
    height: 30px;
}

label {
    display: flex;
    align-items: center;
}
