form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

input {
    height: 70px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(160, 255, 211);
    font-size: xx-large;
}

#description-input {
    height: 70px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(160, 255, 211);
    font-size: x-large;
}

.form-error {
    color: rgb(255, 81, 81);
}
