.breadcrumbs {
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
}

.breadcrumbs > * {
    display: inline-block;
    margin-right: 10px;
}

.breadcrumbs .crumb:after {
    content: '>';
    margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
    display: none;
}
