.header-container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(160, 255, 211);
    height: 100px;
    width: 100%;
    margin-bottom: 2%;
    border-bottom: 2px solid black;
}

.header-element-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}
