form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

form input {
    height: 70px;
    width: 80%;
    border-radius: 5px;
    background-color: rgb(160, 255, 211);
    font-size: xx-large;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 500px;
}

.form-error {
    color: rgb(255, 81, 81);
}
