.edit-set-section {
    padding: 20px;
    width: 100%;
}

.edit-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* 
input {
    margin: 0px 10px 0px 0px;
}

button {
    margin: 0px 10px 0px 0px;
} */

.edit-set-section form {
    display: flex;
    flex-direction: row;
}
