.App {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; */
}

img {
  width: 300px;
}

.image-container {
  background-color: blue;
  width: 400px;
  padding: 10px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.fat-text {
  font-size: x-large;
  font-weight: bold;
}

.italic-text {
  font-style: italic;
  font-size: large;
}

table {
  border-collapse: collapse;
  width: 500px;
  background-color: aqua;
}

th {
  background-color: black;
  color: white;
}

td {
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: rgb(248, 201, 46);
}

.book-list-container {
 width: 40%;
 margin: 20px;
}